<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/icono_nvo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_nvo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.transito.InfraccionesActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            />
        <activity android:name=".view.transito.TransitoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.transito.EvidenciaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity android:name=".view.supervisor.SupervisorActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.transito.Orden_ArrastreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.operador_grua.Operador_GruaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.corralones.CorralonesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.corralones.RegistrarIngresoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.operador_grua.Arrastre_En_CursoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.operador_grua.Solicitud_ArrastreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.operador_grua.Historial_ArrastresActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.transito.HistorialActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.corralones.InventarioActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.corralones.LiberarActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.corralones.HistorialCorralonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.parquimetros.ParquimetroActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.parquimetros.EstatusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.configuracion.ConfiguracionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.transito.SeleccionarInfraccionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.transito.DetalleInfraccionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.supervisor.SupervisorHistorialActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.parquimetros.ReporteActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>


</manifest>